body {
	background: #34495e;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	min-width: 640px;

}
html {
	overflow: hidden;
}


*{
	font-family: sans-serif;
	box-sizing: border-box;
}


.box{
width: 40%;
max-width: 400px;
min-width: 400px;
padding: 40px;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
background: #34495e;
text-align: center;
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.box input[type="text"],.box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 15px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	color: tomato;
	font-size: 18px;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}

.thisBtn {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.thisBtn:hover{
	background: #2ecc71;
}

.container {
	height: 700px;
	width: 700px;
}

/* form {
	width: 100%;
	border: 2px solid #ccc;
	padding: 50px;
	background: rgb(51, 175, 212);
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: black;
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	width: 120px;
	color: lawngreen;
	font-weight: bold;
	
}
button:hover{
	opacity: .7;
	background-color: crimson;
} */
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

/* h2 {
	text-align: center;
	color: black;
	font-weight: bold;
} */

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}


/* Logo */





.title-head {
    text-align: center;
    font-size: 24px;
    margin-top: 77px;
}
.title-head h3 {
    color: rgb(10, 197, 103);
    font-weight: bold;
}






.img-box {
    width: 100px;
    height: 188px;
    text-align: center;
	margin: 0 auto;
	margin-left: 205px;
	margin-bottom: 20px;
    
    
  }


.App-logo {
	height: 200px;
	display: block;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	pointer-events: none;
    /* margin-left: -20px; */
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

