<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="stylesheet" href="./chat.css">
    <title>Chat</title>
</head>
<body>
    <section>
        <h1>Volantino<br>ChatBot</h1>
        <p>Available In Chrome😎 Only</p>
        <button class="exit_button"><a href="../mobile.php">Exit</a></button>
        <div class="container">
          <div class="texts">
          </div>
        </div>
      </section>
      <script src="./chat.js"></script>
</body>
</html>