<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container {
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        margin-top: 60px;
    }
    #btn {
        width: 70px;
        height: 70px;
        background-color: black;
        box-shadow: black;
        color: yellow;
        outline: none;
        text-decoration: none;
        text-overflow: none;
        border-radius: 50%;
    }
</style>
<body>
    <div class="container">
        <button id="btn">Click</button>
        <div id="transcript">
          
        </div>
    </div>

    <script>

function enableAutoTTS() {
    if (typeof window === 'undefined') {
      return;
    }
let hasEnabledVoice = false;
let btn = document.getElementById('btn');
btn.addEventListener('click', () => {
    console.log('sto qua');
  if (hasEnabledVoice) {
    return;
  }
  console.log('passato');
  /* Speech to tex */
 
/* Text to speech */
  const lecture = new SpeechSynthesisUtterance('Buongiorno');
  lecture.volume = 1;
  lecture.lang = 'it-IT';
  lecture.pitch = 1;
  speechSynthesis.speak(lecture);
  hasEnabledVoice = true;



  const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  const texts = document.getElementById('transcript');
  let p = document.createElement("p");

  const recognition = new SpeechRecognition();
  recognition.interimResults = true;
  recognition.lang = 'it-IT';


  recognition.addEventListener("result", (e) => {
        texts.appendChild(p);
            const text = Array.from(e.results)
            .map((result) => result[0])
            .map((result) => result.transcript)
            .join("");
        p.innerText = text;
    
});

  recognition.addEventListener("end", () => {
      recognition.start();
  });
  recognition.start();
});


    const isiOS = navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
    if (!isiOS) {
      return;
    }
    const simulateSpeech = () => {
      const lecture = new SpeechSynthesisUtterance('hello');
      lecture.volume = 0;
      speechSynthesis.speak(lecture);
      document.removeEventListener('click', simulateSpeech);
      const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  const texts = document.getElementById('transcript');
  let p = document.createElement("p");

  const recognition = new SpeechRecognition();
  recognition.interimResults = true;
  recognition.lang = 'it-IT';


  recognition.addEventListener("result", (e) => {
        texts.appendChild(p);
            const text = Array.from(e.results)
            .map((result) => result[0])
            .map((result) => result.transcript)
            .join("");
        p.innerText = text;
    
});

  recognition.addEventListener("end", () => {
      recognition.start();
  });
  recognition.start();
    };
  
    document.addEventListener('click', simulateSpeech);
  }
  
  enableAutoTTS();
  
/*   setInterval(() => {
    const lecture = new SpeechSynthesisUtterance('hello');
      speechSynthesis.speak(lecture);
  }, 2000); */




    </script>
</body>
</html>

<!-- function enableAutoTTS() {
    if (typeof window === 'undefined') {
      return;
    }
    const isiOS = navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
    if (!isiOS) {
      return;
    }
    const simulateSpeech = () => {
      const lecture = new SpeechSynthesisUtterance('hello');
      lecture.volume = 0;
      speechSynthesis.speak(lecture);
      document.removeEventListener('click', simulateSpeech);
    };
  
    document.addEventListener('click', simulateSpeech);
  }
  
  enableAutoTTS();
  
  setInterval(() => {
    const lecture = new SpeechSynthesisUtterance('hello');
      speechSynthesis.speak(lecture);
  }, 2000); -->